.home .home-banner-1,
.home .home-banner-2,
.home .home-banner-3{
  background-repeat: no-repeat;
  background-size: cover;
  background-position:90% center;
  min-height: 100vh;
  position: relative;
  margin-top: 1.5rem;
}

.home .home-banner .home-banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-200%, -50%);
}

.home .home-banner .home-banner-text h1 {
  font-size: 5rem;
}
.home .home-banner .home-banner-text1 {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-110%, -50%);
}

.home .home-banner .home-banner-text1 h1 {
  font-size: 5rem;
}

/*.home .carousel-indicators button {*/
/*  background-color: red;*/
/*}*/

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}


@media (max-width: 1220px) {
  .home .home-banner-1,
  .home .home-banner-2 {
    background-position: 60% center;
    min-height: 540px;
    margin-top: 1.5rem;
  }
  .home .home-banner .home-banner-text {
    transform: translate(-90%, -50%);
  }
}

@media (max-width: 991px) {
  .home .home-banner-1,
  .home .home-banner-2 {
    background-position: 60% center;
    min-height: 450px;
    margin-top: 1.5rem;
  }
  .home .home-banner .home-banner-text {
    transform: translate(-70%, -50%);
  }
}

@media (max-width: 767px) {
  .home .home-banner-1,
  .home .home-banner-2 {
    background-position: 50% center;
    min-height: 450px;
    margin-top: 1.5rem;

  }
  .home .home-banner .home-banner-text {
    text-align: center;
    width: 100%;
    transform: translate(-60%, -50%);
  }
  .home .home-banner .home-banner-text h1 {
    font-size: 3rem;
  }
  .home .home-banner .home-banner-text h2 {
    font-size: 1.2rem;
  }
  .home .home-banner .home-banner-text .btn {
    padding: 0.5rem 1.5rem;
  }
}

@media (max-width: 420px) {
  .home .home-banner-1,
  .home .home-banner-2,
  .home .home-banner-3{
    background-size:cover;
    margin-top:1.5rem;
    min-height: 360px;
    min-width: 60%;

  }
  .home .home-banner .home-banner-text {
    position: absolute;
    top: 280px;
    text-align: center;
    width: 100%;
    transform: translate(-60%, -50%);
  }

.home .home-banner .home-banner-text {
  transform: translate(-50%, -60%);
  /* margin-left:40px; */

}
.home .home-banner .home-banner-text h1 {
  font-size: 3rem;
  transform: translate(-30%, -30%);

}
.home .home-banner .home-banner-text h2{

  transform: translate(-29%, -30%);

}
.home .home-banner .home-banner-text h4{
  font-size: 1rem;
  transform: translate(-29%, -30%);

}
.home .home-banner .home-banner-text a{
  transform: translate(-55%, -30%);


}

}
.home .home-banner .home-banner-text h4{
  font-size: 1rem;
  transform: translate(-26%, -30%);

}
.home .home-banner .home-banner-text a{
  transform: translate(-40%, -30%);


}

