
{% load static %}
<link rel="stylesheet" href="{% static 'css/carousel.css' %}">

<!--Home section-->
<section id="home" class="home mt-lg-5 my-lg-3 mt-4  ">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="2000">
    <div class="carousel-inner ">
      <div class="carousel-item active">
        <div class="home-banner home-banner-1 " style="background-image:url('{% static 'images/carousel-12.png' %}');">
        </div>
      </div>
      <div class="carousel-item">
        <div class="home-banner home-banner-2" style='background-image:url("{% static 'images/carousel-7-min.png' %}");' >
        </div>
      </div>
      <div class="carousel-item">
        <div class="home-banner home-banner-3" style='background-image:url("{% static 'images/carousel-13.png' %}");'>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" style="color:red;">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" style="color:red;">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>




