
{% load static %}


<link href="{% static 'css/offcanvas-navbar.css' %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }
      .bd-mode-toggle {
        z-index: 1500;
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="css/offcanvas-navbar.css" rel="stylesheet">
{% block content %}

<nav class="navbar navbar-expand-lg shadow-sm fixed-top navbar-light bg-light pt-4" aria-label="Main navigation">
  <div class="container-fluid ">
    <a class="navbar-brand " href="{% url 'home' %}">Offcanvas navbar</a>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse mt-lg-0 mt-2" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mt-lg-0 mt-3">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'shop_with_category' category="Men" %}">Men</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'shop_with_category' category="Women" %}">Women</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'shop_with_category' category="Footwear" %}">Footwear</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cart' %}"><i class="fa fa-shopping-cart"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'wishlist' %}"><i class="fa fa-heart"></i></a>
        </li>
        <li class="nav-item dropdown">
          <a class="btn btn-dark ms-2" href="" data-bs-toggle="dropdown" aria-expanded="false">Login</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            <li><a class="dropdown-item" href="{% url 'signup' %}">Sign up</a></li>
          </ul>
        </li>
      </ul>
      {% comment %} <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> {% endcomment %}
    </div>
  </div>
</nav>

    <script src="{% static 'js/offcanvas-navbar.js' %}"></script></body>
{% endblock content %}
